{% extends "catalog/base.html" %}
{% block content %}
{% load my_tags %}
{% load static %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ object.preview_img | media }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ object.name }}</h1>
        <h3 class="lead">{{ object.author }}</h3>
        <div class="d-flex align-items-center">
          <small class="text-body-secondary ml-2">{{ object.view_count }} 👁️ Просмотров</small>
        </div>
        <p class="lead">{{ object.content | text }}</p> 
      </div>
    </div>
  </div>
{% endblock %}
