{% load static %}
<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/gon4ar.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Изображение гончара." width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Производим по старинным технологиям.</h1>
        <p class="lead">Гончарная мастерская - это место, где рождаются удивительные произведения искусства из глины. Здесь творчество сочетается с мастерством, а руки гончара оживают и создают уникальные предметы.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{% url 'catalog:catalog' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Каталог</button></a>
        </div>
      </div>
    </div>
  </div>
